<div class="container">
      <div class="jumbotron">
        <h1>
          You do not have permission to access this content!
        </h1>
        <p>
        </p>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
           <%= link_to "Go home!", root_path, class: "btn btn-info btn-lg" %>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>