<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <% if current_user.admin? %>
   <div class="control-group">
       <div class="col-md-3 column pull-right">
        <%= link_to "Admin Panel", admin_path, class: "btn btn-info btn-md pull-right" %>
    </div>
    </div>
    <% end %>
</div>

    